body {
    background: #99E1D9;
}

h1 {
    color: #F06543;
    text-align: center;
}

h3 {
    text-align: center;
    color: #D3F57D;
}

ul {
    background: #F45087;
    font-size: 2em;
    padding: 10px;
}

ul li {
    background: #FFE5E5;
    text-align: center;
    margin: 20px;
}

h2 {
    color: #F45087;
    font-style: oblique;
}

p {
    color: #F06543;
    font-size: 2em;
    font-style: italic;
}

.extreme {
    color: lightsteelblue;
}

#head1 {
    font-style: italic;
}

.navzone {
    font-family: "Times New Roman", Times, Serif;
}

#tehlulz {
    text-transform: uppercase;
}

.content {
    text-decoration: underline;
}

.prose {
    font-weight: bold;
}

.extreme {
    font-size: 2em;
    color: #F06453;
}